nav{
    background-color: #014E56;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right{
    display: flex;
    justify-content: space-around;
    width: 400px;
}
.www{
    width: 200px;
}
a{
    text-decoration: none;
    color: white;
}
.btn{
    border-radius: 10px;
    border: 1px solid black;
    
 
}
.sct1{
background-color:#014E56 ;
padding-top: 100px;
color: white;
display: flex;
justify-content: space-between;
width: 100%;
align-items: center;
}
.sct1 p{
    width: 630px;
}
.sss{
   width: 10%;
}
.ddd{
 font-weight:900;
 font-size: 50px;

}
.sct2{
     background-color: #004047;
     padding-top: 100px;
color: white;
height: 600px;



}
.zzz{
   margin-bottom: 100px;
   display: flex;
   justify-content: center;
   font-size: 50px;
}
.card{
    display: flex;justify-content: space-around;
}
.sct3{
    background-color:#012F34 ;
    padding-top: 50px;
    color: white;
    height: 300px;
}
.aaa{
    width: 184px;
    height: 18.72px;
}
.con1{
    display: flex;
    justify-content: space-around;
  
}
.sct4{
    background-color: #F67E7E;
    color: #012F34;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.qqq{
    font-size: 50px;
}
.www{
    border-radius: 50px;
    border: black solid 1px;
    width: 153px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: #002529;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 106px;
}
.icon{
    display: flex;
    justify-content: space-around;
    width: 104px;
}
.eee{
    width: 200px;
    
}
.rrr{
   
    display: none;
}
@media(max-width:768px){
    .rrr{
        display: block;

    }
    .card{
        flex-wrap: wrap;
    }
    .sct2{
        flex-direction: column;
        height: 1200px;
    }
    .sct2{
        flex-direction: column;
 
    }
    .sct3{
        flex-direction: column;
    }
    .con1{
        flex-wrap: wrap;
      
    }
    .sct4{
        flex-wrap: wrap;
    }
    footer{
        flex-wrap: wrap;
    }
    .sct1{
        flex-direction: column;
    }
    .ttt{
        display: none;
    }
    .btn{
        display: none;
    }
    .icon{
        display: flex;
        justify-content: center;
      margin-right: 10px;
    }
}
.con1 div{
    height: 50px;

}
.sct3{
    height: 600px;
}
.sct4{
    height: 300px;
}
